<div class="fields">
  <div class="name">
    <h4>Nome</h4>
    <input type="text" name="name" value="{{chef.name}}" required>
  </div>

  <div class="avatar_url">
    <h4>Avatar</h4>
    <div class="photos-preview">
      {% if chef.file %}
        <div class="photo" id="{{chef.file.id}}">
          <img src="{{chef.file.path}}" alt="Imagem de {{chef.name}}">
          <i
            class="material-icons"
            onclick="PhotosUploud.removeOldPhoto(event)"
            required
          >
          close
          </i>
        </div>
        <input type="hidden" name="removed_files">
        <input type="hidden" name="file_id" value="{{chef.file.id}}">
      {% endif %}
    </div>

    <div class="chefs-photos-uploud">
      <input
        type="file"
        name="chefs-photos"
        id="chefs-photos-input"
        accept="/image/*"
        onChange="PhotosUploud.handleFileInput(event)"
        multiple
      >
      <p>Enviar Avatar</p>
    </div>
  </div>
</div>