{% extends 'layouts/admin.njk' %}

{% block head %}
  <title>Admin - Chef</title>
{% endblock %}

{% block content %}
  <div class="top-content">
    <h2>Chef: {{chef.name}}</h2>
    <a href="/admin/chefs/{{chef.id}}/edit" class="button-action-a">Editar Chef</a>
  </div>

  <div class="page-content">
    <div class="center-image">
      <img class="chef-image-show" src="{{chef.avatar_url}}" alt="Imagem de {{chef.name}}">
    </div>

    <h1>{{chef.name }}</h1>
    <h5>{{recipes.length}} {{"receita" if recipes.length == 1 else "receitas"}}</h5>

    <div class="title-button">
      <h3>Receitas</h3>
    </div>

    <div class="cards-admin">
      {% for recipe in recipes %}
        <div class="card-admin">
          <div class="card-admin-img-content">
            <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
          </div>
          <div class="card-admin-content">
            <h4>{{recipe.title}}</h4>
            <p>por {{recipe.chef_name}}</p>
            <a href="/admin/recipes/{{recipe.id}}" class="button-view">Visualizar</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}