{% extends 'layout-admin.njk' %}

{% block head %}
    <title>Admin - Editando Receita</title>
{% endblock %}

{% block content %}

    <div class="top-content-edit">
        <h2>Editando Receita</h2>
        <button form="form-delete" class="button-delete" type="submit">Deletar</button>
        <button form="form-put" class="button-put" type="submit">Salvar receita</button>
    </div>

    <form class="recipe" method="POST" action="/admin/recipes/?_method=PUT" id="form-put">
        {% include 'admin/fields.njk' %}
        <input type="hidden" name="id" value="{{ recipe.id }}">
    </form>

    <form method="POST" action="/admin/recipes/?_method=DELETE" id="form-delete">
        <input type="hidden" name="id" value="{{ recipe.id }}">
    </form>

{% endblock %}