{% extends 'layout-admin.njk' %}

{% block head %}
    <title>Admin - Receitas</title>
{% endblock %}

{% block content %}

    <h2>Gerenciar receitas</h2>

    <div class="cards-admin">

        {% for recipe in recipes %}
            <div class="card-admin">
                <div class="card-admin-img-content">
                    <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
                </div>
                <div class="card-admin-content">
                    <h4>{{recipe.title}}</h4>
                    <p>por {{recipe.author}}</p>
                    <a href="/admin/recipes/{{recipe.id}}" class="button-view">Visualizar</a>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}