{% extends 'layouts/admin.njk' %}

{% block head %}
  <title>Admin - Criar Usuário</title>
{% endblock %}

{% block content %}
  <form method="POST" action="/admin/users">
    <div class="top-content-users">
      <h2>Criar Usuário</h2>

      <div class="buttons-container">
        <button class="button-users" type="submit" onclick="Validate.allFields(event)">Salvar</button>
        <button onclick="history.back()" class="button-users" id="button-users-cancel" type="button">Cancelar</button>
      </div>
    </div>

    {% include "admin/users/fields.njk" %}

    <div class="is_admin">
      <div class="checkbox-is-admin">
        <input id="checkbox" type="checkbox" name="is_admin" value="true" {% if user.is_admin == "true" or user.is_admin == true%} checked {% endif %}>
        <h4>Administrador</h4>
      </div>
    </div>
  </form>
{% endblock %}