{% extends 'layouts/admin.njk' %}

{% block head %}
  <title>Admin - Editar Usuário</title>
{% endblock %}

{% block content %}
  <div class="top-content-users">
    <h2>Atualizar Usuário</h2>

    <div class="buttons-container">
      <button form="form-delete" class="button-users" id="button-users-delete" type="submit">Deletar</button>
      <button form="form-put" class="button-users" type="submit">Salvar</button>
    </div>
  </div>

  <form method="POST" action="/admin/users/{{user.id}}?_method=PUT" id="form-put">
    {% include "admin/users/fields.njk" %}

    <div class="is_admin">
      <div class="checkbox-is-admin">
        <input id="checkbox" type="checkbox" name="is_admin" value="true" {% if user.is_admin == "true" or user.is_admin == true%} checked {% endif %}>
        <h4>Administrador</h4>
      </div>
    </div>

    <input type="hidden" name="id" value="{{user.id}}">
  </form>

  <form method="POST" action="/admin/users/{{user.id}}?_method=DELETE" id="form-delete">
    <input type="hidden" name="id" value="{{user.id}}">
  </form>
{% endblock %}