{% extends 'layouts/admin.njk' %}

{% block head %}
  <title>Admin - Usuários</title>
{% endblock %}

{% block content %}
  <div class="top-content-users">
    <h2>Usuários</h2>
    <a href="/admin/users/create">Novo</a>
  </div>

  <div class="cards-users">
    {% for user in users %}
      <div class="card-user">
        <div class="card-user-content">
          <h4>{{user.name}}</h4>
          <p>{{user.email}}</p>
        </div>

        <div class="buttons-card-user">
          <a href="/admin/users/{{user.id}}/edit">Editar</a>
          <button form="form-delete" type="submit">Remover</button>
        </div>

        <form method="POST" action="/admin/users/{{user.id}}?_method=DELETE" id="form-delete">
          <input type="hidden" name="id" value="{{user.id}}">
        </form>
      </div>
    {% endfor %}
  </div>

  <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}}></div>
{% endblock %}