{% extends 'layouts/admin.njk' %}

{% block head %}
  <title>Admin - Perfil</title>
{% endblock %}

{% block content %}
  <div class="top-content-users">
    <h2>Bem vindo {{user.name}}</h2>

    <div class="buttons-container">
      <button form="form-put" class="button-users" type="submit">Salvar</button>
    </div>
  </div>

  <form method="POST" action="/admin/users/profile?_method=PUT" id="form-put">
    {% include "admin/users/fields.njk" %}

    <div class="inputs-users">
      <h4>Senha</h4>
      <input type="password" name="password" placeholder="Digite a senha" required>
    </div>

    <input type="hidden" name="id" value="{{user.id}}">
  </form>
{% endblock %}