{% extends 'layout.njk' %}

{% block head %}
    <title>Receita - Foodfy</title>
{% endblock %}

{% block content %}

    <div class="recipe-content">

        <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
        <h1>{{recipe.title}}</h1>
        <h5>{{recipe.author}}</h5>

        <div class="title-button">
            <h3>Ingredientes</h3>
            <h4 class="button-show-hide">ESCONDER</h4>
        </div>

        <div class="content-show-hide">
            {% for ingredient in recipe.ingredients %}
                <li>{{ingredient}}</li>
            {% endfor %}
        </div>

        <div class="title-button">
            <h3>Modo de preparo</h3>
            <h4 class="button-show-hide">ESCONDER</h4>
        </div>

        <div class="content-show-hide">
            {% for element in recipe.preparation %}
                <p id="text-left">{{element}}</p>
            {% endfor %}
        </div>

        <div class="title-button">
            <h3>Informações adicionais</h3>
            <h4 class="button-show-hide">ESCONDER</h4>
        </div>

        <div class="content-show-hide">
            <p id="text-left">{{recipe.information}}</p>
        </div>

    </div>

{% endblock %}