{% extends 'layouts/main.njk' %}

{% block head %}
  <title>Foodfy - Chefs</title>
{% endblock %}

{% block content %}
  {% if not chefs.length %}
    <div class="content-not-found">
      <h2>Nenhum chefe tem receita cadastrada no momento...</h2>  
    </div>   
  {% else %}
    <div class="cards-chefs">
      {% for chef in chefs %}
        <div class="card-chef">
          <div class="card-chef-img-content">
            <img src="{{chef.file.src}}" alt="Imagem de {{recipe.name}}">
          </div>

          <div class="card-chef-content">
            <h4>{{chef.name}}</h4>
            <p>{{chef.total_recipes}} {{"receita" if chef.total_recipes == 1 else "receitas"}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}