{% extends 'layouts/main.njk' %}

{% block head %}
  <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
  {% if not recipes.length %}
    <div class="content-not-found">
      <h2>Nenhuma receita cadastrada no momento...</h2>  
    </div>   
  {% else %}
    <div class="cards">
      {% for recipe in recipes %}
        <div class="card">
          <a href="/recipes/{{recipe.id}}">
            {% if not recipe.files[0].path %}
              <img src="/images/placeholder.png">
            {% else %}
              <img src="{{recipe.files[0].path}}" alt="Imagem de {{recipe.title}}">
            {% endif %}
            <h4>{{recipe.title}}</h4>
            <p>por {{recipe.chef.name}}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}}></div>
{% endblock %}