{% extends 'layouts/main.njk' %}

{% block head %}
  <title>Foodfy - Chef</title>
{% endblock %}

{% block content %}
  <div class="page-content chef">
    <div class="center-image">
      <img class="chef-image-show" src="{{chef.file.path}}" alt="Imagem de {{chef.name}}">
    </div>

    <h1>{{chef.name}}</h1>
      {% if not chef.recipes.length %}
        <h5>0 receitas</h5>
      {% else %}
        <h5>{{chef.recipes.length}} {{"receita" if chef.recipes.length == 1 else "receitas"}}</h5>
      {% endif %}

    <div class="title-button">
      <h3>Receitas</h3>
    </div>

    <div class="cards-admin">
      {% if not chef.recipes %}
        <div class="not-receipes-chef">
          <p>Esse chef não possui receitas cadastradas...</p>
        </div>
      {% endif %}

      {% for recipe in chef.recipes %}
        <div class="card-admin">
          <div class="card-admin-img-content">
            <img src="{{recipe.file.path}}" alt="Imagem de {{recipe.title}}">
          </div>
          
          <div class="card-admin-content">
            <h4>{{recipe.title}}</h4>
            <p>por {{chef.name}}</p>
            <a href="/recipes/{{recipe.id}}" class="button-view">Visualizar</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}