/* === ALL === */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 25px;
    color: #111111;
}

h3 {
    font-size: 20px;
    line-height: 24px;
    color: #111111;
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

/* === USERS PAGE === */

.wrapper-users {
    width: 940px;
    margin: 35px auto;
    min-height: calc(100vh - 131px);
}

/* === HEADER USERS === */

.header-users {
    display: grid;
    grid-template-columns: 210px 1fr;
    align-items: center;
    margin-bottom: 30px;
}

.header-users a {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #111111;
    margin-right: 30px;
}

.header-users a.active {
    font-weight: bold;
}

/* === INDEX USERS === */

.hero {
    width: 940px;
    height: 365px;
    background: #FBDFDB;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 30px;
}

.hero .hero-content h1 {
    font-size: 32px;
    line-height: 38px;
    color: #111111;
    margin-left: 60px;
    margin-bottom: 10px;
}

.hero .hero-content p {
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
    margin-left: 60px;
    max-width: 315px;
    color: #000000;
}

.hero img {
    justify-self: center;
    padding-top: 65px;
}

main {
    margin: 50px auto;
}

/* === CARDS INDEX AND RECIPES === */

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    cursor: pointer;
}

.cards .card img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
    object-fit: cover;
}

.cards .card h4 {
    font-size: 18px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.cards .card p {
    font-size: 14px;
    line-height: 16px;
    color: #777777;
}

/* === ABOUT PAGE === */

.about-content p {
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    margin-bottom: 30px;
}

/* === RECIPE PAGE DESCRIPTION === */

.recipe-content img {
    width: 940px;
    height: 280px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.recipe-content h1 {
    font-size: 36px;
    line-height: 42px;
    color: #111111;
    text-align: center;
    margin-bottom: 5px;
}

.recipe-content h5 {
    font-size: 20px;
    line-height: 24px;
    font-size: 20px;
    color: #777777;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
}

.title-button {
    align-items: center;
    display: flex;
}

.recipe-content h4 {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    color: #999999;
    margin-left: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

#text-left {
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    white-space: pre-line;
}

.hide {
    display: none;
}

/* === FOOTER === */

footer {
    height: 62px;
    width: 100%;
    background-color: #EEEEEE;
}

footer p {
    font-size: 14px;
    line-height: 16px;
    padding: 23px 0;
    color: #999999;
    text-align: center;
}

/* ---------- ADMIN ---------- */

/* === HEADER ADMIN === */

.header-admin {
    background-color: #111111;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.align-logo {
    width: 940px;
    display: grid;
    grid-template-columns: 210px 1fr;
    align-items: center;
}

.header-admin a {
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

/* === INDEX ADMIN PAGE === */

.wrapper-admin {
    width: 940px;
    margin: 35px auto;
}

.cards-admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-admin {
    display: flex;
}

.card-admin-img-content img {
    width: 172px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px;
}

.card-admin-content h4 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #111111;
    margin-left: 20px;
    margin-bottom: 5px;
}

.card-admin-content p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #777777;
    margin-left: 20px;
    margin-bottom: 10px;
}

.button-view {
    font-size: 14px;
    line-height: 16px;
    color: #6558C3;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

/* === TOP CONTENT ADMIN === */

.top-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.top-content-edit {
    display: grid;
    grid-template-columns: 20% 65% 15%;
    align-items: center;
}

.top-content-edit .button-put, .button-delete, .button-save, a.button-action {
    justify-self: end;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    background-color: #6558C3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.button-delete {
    background-color: #DC4747;
    justify-self: end;
}

/* === FIELDS ADMIN === */

.fields h4 {
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
}

input, textarea {
    width: 940px;
    height: 49px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    outline: none;
    resize: none;
}

textarea {
    padding-top: 15px;
}

.add-ingredient, .add-preparation {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-align: right;
    color: #6558C3;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    cursor: pointer;
}

#information {
    height: 257px;
}