/* ---------- ALL ---------- */
* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
  color: #111111;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  color: #111111;
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
}

/* ---------- USERS ---------- */

/* === USERS PAGE === */

.wrapper-users {
  width: 940px;
  margin: 35px auto;
  min-height: calc(100vh - 131px);
}

/* === HEADER USERS === */

.header-users {
  display: grid;
  grid-template-columns: 210px 1fr 1fr;
  align-items: center;
  margin-bottom: 30px;
}

.header-users .links {
  display: flex;
}

.header-users a {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #111111;
  margin-right: 30px;
}

.header-users a:hover {
  font-weight: bold;
}

.header-users a.active {
  font-weight: bold;
}

/* === USERS FILTER === */

.header-users form {
  display: grid;
  grid-template-columns: 1fr 120px;
  grid-gap: 0px;
}

.header-users form input {
  width: 235px;
  height: 37px;
  margin: 0;
}

/* === INDEX USERS === */

.hero {
  width: 940px;
  height: 365px;
  background: #fbdfdb;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 30px;
}

.hero .hero-content h1 {
  font-size: 32px;
  line-height: 38px;
  color: #111111;
  margin-left: 60px;
  margin-bottom: 10px;
}

.hero .hero-content p {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
  margin-left: 60px;
  max-width: 315px;
  color: #000000;
}

.hero img {
  justify-self: center;
  padding-top: 65px;
}

main {
  margin: 50px auto;
}

/* === CARDS INDEX AND RECIPES USERS === */

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  cursor: pointer;
}

.card a {
  text-decoration: none;
  color: black;
}

.cards .card img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
  object-fit: cover;
}

.cards .card h4 {
  font-size: 18px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.cards .card p {
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}

/* === ABOUT PAGE USERS === */

.about-content p {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  margin-bottom: 30px;
}

/* === PAGINATE RECIPES === */

.pagination {
  text-align: center;
  margin-top: 50px;
}

.pagination a,
.pagination span {
  color: #6558c3;
  text-decoration: none;
  margin-right: 10px;
}

.pagination a:hover {
  filter: brightness(0.5);
}

/* === RECIPE PAGE DESCRIPTION USERS === */

.page-content img {
  width: 940px;
  height: 280px;
  border-radius: 15px;
  margin-bottom: 50px;
  object-fit: cover;
}

.page-content h1 {
  font-size: 36px;
  line-height: 42px;
  color: #111111;
  text-align: center;
  margin-bottom: 5px;
}

.page-content h5 {
  font-size: 20px;
  line-height: 24px;
  font-size: 20px;
  color: #777777;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
}

.title-button {
  align-items: center;
  display: flex;
}

.page-content h4 {
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  color: #999999;
  margin-left: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

#text-left {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
  white-space: pre-line;
}

.hide {
  display: none;
}

/* === CHEF USERS PAGE === */

.card-chef-content p {
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  margin-left: 20px;
}

/* === FOOTER USERS === */

footer {
  height: 62px;
  width: 100%;
  background-color: #eeeeee;
}

footer p {
  font-size: 14px;
  line-height: 16px;
  padding: 23px 0;
  color: #999999;
  text-align: center;
}

/* ---------- ADMIN ---------- */

/* === HEADER ADMIN === */

.header-admin {
  background-color: #111111;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.align-logo {
  width: 940px;
  display: grid;
  grid-template-columns: 210px 1fr 1fr;
  align-items: center;
}

.logout-container {
  justify-self: end;
}

.header-admin a {
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  color: #999999;
  margin-right: 30px;
  text-transform: uppercase;
}

.header-admin a:last-child {
  margin-right: 0;
}

.header-admin a:hover {
  color: white;
}

.header-admin a.active {
  color: white;
}

/* === INDEX PAGE ADMIN === */

.wrapper-admin {
  width: 940px;
  margin: 35px auto;
}

.cards-admin {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-admin {
  display: flex;
}

.card-admin-img-content img {
  width: 172px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}

.card-admin-content h4 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #111111;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.card-admin-content p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #777777;
  margin-left: 20px;
  margin-bottom: 10px;
}

.button-view {
  font-size: 14px;
  line-height: 16px;
  color: #6558c3;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

/* === TOP CONTENT ADMIN - ALL PAGES ADMIN === */

.top-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.top-content-edit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.top-content-edit .buttons-edit {
  justify-self: end;
}

.buttons-edit .button-delete {
  background-color: #dc4747;
  margin-right: 5px;
}

button[type="submit"] {
  background: #6558c3;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.button-default,
.button-delete,
.button-action-a {
  justify-self: end;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  background: #6558c3;
  border-radius: 5px;
  color: white;
}

/* === FIELDS RECIPES ADMIN === */

.fields h4 {
  font-size: 16px;
  line-height: 19px;
  margin-top: 30px;
}

input,
textarea,
select {
  width: 940px;
  height: 49px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  outline: none;
  resize: none;
}

textarea {
  padding-top: 15px;
}

.add-ingredient,
.add-preparation {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  text-align: right;
  color: #6558c3;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: white;
  cursor: pointer;
}

#information {
  height: 257px;
}

/* === CHEFS INDEX ADMIN === */

.cards-chefs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.card-chef {
  display: flex;
  align-items: center;
}

.card-chef-img-content img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.card-chef-content h4 {
  font-size: 18px;
  line-height: 21px;
  color: #111111;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 5px;
}

/* === CHEFS SHOW ADMIN === */

.center-image {
  text-align: center;
}

.center-image .chef-image-show {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

/* === CHEFS PHOTO CREATE ADMIN === */

.chefs-photos-uploud {
  position: relative;
  display: block;
  overflow: hidden;
  width: 140px;
}

.chefs-photos-uploud p {
  background: #6558c3;
  border-radius: 4px;
  box-shadow: 0 2px -6px #333;
  color: white;
  width: 100%;
  height: 40px;
  text-align: center;
  cursor: pointer;
  line-height: 40px;
  margin-top: 8px;
}

input[type="file"] {
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 0;
  position: absolute;
}

#chefs-photos-input {
  width: 100%;
  height: 100%;
}

/* === RECIPE PHOTO CREATE ADMIN === */

.recipes-photos-uploud {
  position: relative;
  display: block;
  overflow: hidden;
  width: 145px;
  height: 145px;
  padding: 0px 10px 0px 0px;
}

.recipes-photos-uploud p {
  border-radius: 4px;
  border: 1px solid #dddddd;
  font-size: 38px;
  color: #777777;
  width: 137.5px;
  height: 132.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

#recipes-photos-input {
  width: 100%;
  height: 100%;
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
}

.photos-preview {
  width: 142.5px;
  height: 100%;
  display: flex;
  grid-gap: 16px;
  padding: 8px 14px 0px 0px;
}

.photos-preview img {
  width: 142.5px;
  height: 132.5px;
  object-fit: cover;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.photos-preview .photo {
  position: relative;
  width: 147.5px;
  height: 100%;
  flex-wrap: wrap;
}

.photos-preview .photo i {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  cursor: pointer;
  transition: opacity 0.2s;
  opacity: 0;
}

.photos-preview .photo:hover i {
  opacity: 1;
}

/* === GALLERY USERS AND ADMIN === */

.gallery {
  width: 100%;
}

.gallery .highlight > img {
  width: 100%;
  height: 280px;
  object-position: 50% 50%;
  border: 1px solid #efefef;
  margin-bottom: 5px;
}

.gallery .gallery-preview {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 55px;
}

.gallery .gallery-preview img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  margin-left: 7px;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.2s;
}

.gallery .gallery-preview img:hover,
.gallery .gallery-preview img.active {
  opacity: 1;
}
