/* --- HEADER --- */
.header-admin {
  background-color: var(--color-black);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.align-logo {
  width: 940px;
  display: grid;
  grid-template-columns: 210px 1fr 1fr;
  align-items: center;
}

.logout-container {
  justify-self: end;
}

.users-li {
  display: inline;
  position: relative;
  cursor: pointer;
}

.users-li .users-ul {
  position: absolute;
  top: 12px;
  left: 0px;
  margin-top: 10px;
  background: black;
  transition: all 200ms;
  opacity: 0;
  visibility: hidden;
  width: 180px;
}

.users-li:hover .users-ul {
  top: 12px;
  opacity: 1;
  visibility: initial;
  border-radius: 4px;
}

.users-li:hover .users-ul a {
  color: var(--color-gray-easy);
}

.users-li .users-ul a {
  cursor: pointer;
  color: var(--color-gray-easy);
  display: block;
  margin: 10px;
  border-radius: 4px;
  gap: 2px;
  display: flex;
  align-items: center;
}

.users-li .users-ul a:hover {
  color: var(--color-white);
  border-radius: 4px;
}

.links {
  align-items: center;
  justify-content: center;
  display: flex;
}

.header-admin a {
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  color: var(--color-gray-easy);
  margin-right: 30px;
  text-transform: uppercase;
}

.header-admin a:hover {
  color: var(--color-white);
}

.header-admin a.active {
  color: var(--color-white);
}

/* --- INDEX --- */
.wrapper-admin {
  width: 940px;
  margin: 35px auto;
}

.cards-admin {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#cards-admin-top {
  padding-top: 30px;
}

.card-admin {
  display: flex;
}

.card-admin-img-content img {
  width: 172px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 20px;
}

.card-admin-content h4 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color-black);
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.card-admin-content p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-gray-medium);
  margin-left: 20px;
  margin-bottom: 10px;
}

.button-view {
  font-size: 14px;
  line-height: 16px;
  color: var(--color-purple);
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}

/* --- TOP CONTENT --- */
.top-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.top-content-edit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.top-content-edit .buttons-edit {
  justify-self: end;
}

.buttons-edit .button-delete {
  background-color: var(--color-red-delete);
  margin-right: 5px;
}

.btn {
  width: 140px;
  height: 38px;
}

.btn:hover {
  background: var(--color-purple-hover);
}

.button-default,
.button-delete,
.button-action-a {
  justify-self: end;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 20px;
  background: var(--color-purple);
  border-radius: 5px;
  color: var(--color-white);
}

/* --- FIELDS RECIPES --- */
.fields h4 {
  font-size: 16px;
  line-height: 19px;
  margin-top: 30px;
}

.add-ingredient,
.add-preparation {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  text-align: right;
  color: var(--color-purple);
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: var(--color-white);
  cursor: pointer;
}

#information {
  height: 257px;
}

/* --- CHEFS INDEX --- */
.cards-chefs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

#cards-chefs-top {
  padding-top: 30px;
}

.card-chef {
  display: flex;
  align-items: center;
}

.card-chef-img-content img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--color-gray-border);
}

.card-chef-content h4 {
  font-size: 18px;
  line-height: 21px;
  color: var(--color-black);
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 5px;
}

/* --- CHEFS SHOW --- */
.center-image {
  text-align: center;
}

.center-image img {
  border: 1px solid var(--color-gray-border);
}

.center-image .chef-image-show {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

/* --- CHEFS PHOTO CREATE --- */
.chefs-photos-upload {
  position: relative;
  display: block;
  overflow: hidden;
  width: 140px;
}

.chefs-photos-upload p {
  background: var(--color-purple);
  border-radius: 4px;
  box-shadow: 0 2px -6px #333;
  color: var(--color-white);
  width: 100%;
  height: 40px;
  text-align: center;
  cursor: pointer;
  line-height: 40px;
  margin-top: 8px;
}

input[type="file"] {
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 0;
  position: absolute;
}

#chefs-photos-input {
  width: 100%;
  height: 100%;
}

/* --- RECIPES PHOTO CREATE --- */
.recipes-photos-upload {
  position: relative;
  display: block;
  overflow: hidden;
  width: 145px;
  height: 145px;
  padding: 0px 10px 0px 0px;
}

.recipes-photos-upload p {
  border-radius: 4px;
  border: 1px solid var(--color-gray-border);
  font-size: 38px;
  color: var(--color-gray-medium);
  width: 137.5px;
  height: 132.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

#recipes-photos-input {
  width: 100%;
  height: 100%;
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
}

.photos-preview {
  width: 142.5px;
  height: 100%;
  display: flex;
  grid-gap: 16px;
  padding: 8px 14px 0px 0px;
}

.photos-preview img {
  width: 142.5px;
  height: 132.5px;
  object-fit: cover;
  border: 1px solid var(--color-gray-border);
  border-radius: 4px;
}

.photos-preview .photo {
  position: relative;
  width: 147.5px;
  height: 100%;
  flex-wrap: wrap;
}

.photos-preview .photo i {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 38px;
  cursor: pointer;
  transition: opacity 0.2s;
  opacity: 0;
}

.photos-preview .photo:hover i {
  opacity: 1;
}
