@keyframes hideMessage {
  to {
    top: -20px;
    opacity: 0;
  }
}

@keyframes hideInputError {
  to {
    border-color: #dddddd;
  }
}

.messages {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 135px;
  width: 340px;
  color: white;
  border-radius: 4px;
  top: 20px;
  right: 20px;
  opacity: 1;
  animation: hideMessage 400ms 4s ease-out forwards;
  text-overflow: clip;
}

.messages p {
  padding: 20px;
  text-align: center;
}

.messages.error {
  background: #dc4747;
}

.messages.success {
  background: #01b12a;
}

input.error {
  border-color: #ff3131;
  animation: hideInputError 400ms 4s ease-out forwards;
}
