.buttons-container {
  justify-self: end;
  text-align: center;
}

.buttons-container .button-users,
.buttons-container #button-users-cancel,
.buttons-container #button-users-delete,
.top-content-users a {
  width: 140px;
  height: 38px;
  transition: 200ms;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 4px;
  color: var(--color-white);
}

.buttons-container .button-users:hover {
  background: var(--color-purple-hover);
}

.buttons-container #button-users-cancel {
  background: #8a8a8a;
}

.buttons-container #button-users-cancel:hover {
  background: #a8a8a8;
}

.buttons-container #button-users-delete {
  background: #dc4747;
}

.buttons-container #button-users-delete:hover {
  background: #e25a5a;
}

.fields-users {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.inputs-users input {
  width: 450px;
}

.inputs-users h4 {
  margin-top: 30px;
}

.is_admin .checkbox-is-admin {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.is_admin .checkbox-is-admin #checkbox {
  height: 15px;
  width: 15px;
  margin-top: 0;
  margin-right: 8px;
}

/* --- LIST USER ADMIN --- */

.top-content-users {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.top-content-users a {
  background: var(--color-purple);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-content-users a:hover {
  background: var(--color-purple-hover);
}

.cards-users {
  display: grid;
  grid-template-columns: 40% 40% 20%;
}

.card-user-content h4 {
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 5px;
}

.card-user-content p {
  font-size: 14px;
  color: var(--color-gray-medium);
  padding-bottom: 16px;
}

.buttons-card-user a {
  font-size: 14px;
  color: var(--color-purple);
  text-decoration: none;
  font-weight: bold;
  padding-right: 16px;
}

.buttons-card-user button {
  background: none;
  font-size: 14px;
  font-weight: bold;
  color: #f55a5a;
}
