<div class="fields-users">
  <div class="inputs-users">
    <h4>Nome</h4>
    <input type="text" name="name" value="{{user.name}}" placeholder="Digite o nome completo" required>
  </div>

  <div class="inputs-users">
    <h4>E-mail</h4>
    <input type="email" name="email" value="{{user.email}}" placeholder="Digite o e-mail" required>
  </div>
</div>

<div class="is_admin">
  <div class="checkbox-is-admin">
    <input id="checkbox" type="checkbox" name="is_admin" value="true" {% if user.is_admin == "true" or user.is_admin == true%} checked {% endif %}>
    <h4>Administrador</h4>
  </div>
</div>