<div class="fields-users">
  <div class="inputs-users">
    <h4>Nome</h4>
    <input type="text" name="name" value="{{user.name}}" placeholder="Digite o nome completo" required>
  </div>

  <div class="inputs-users">
    <h4>E-mail</h4>
    <input type="email" name="email" value="{{user.email}}" placeholder="Digite o e-mail" required>
  </div>
</div>