{% extends 'layout-users.njk' %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}

    <div class="cards">
        {% for recipe in recipes %}
            <div class="card">
                <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
                <h4>{{recipe.title}}</h4>
                <p>por {{recipe.author}}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}