<div class="fields">
  <div class="chef_id">
    <h4>Chef</h4>
    <select name="chef_id" required>
      <option value="" disabled hidden selected>Selecione um chef</option>
      {% for chef in chefsOptions %}
        <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %} selected="selected" {% endif %}>{{chef.name}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="image">
    <h4>Imagem da receita</h4>
    <input type="url" name="image" value="{{recipe.image}}" required>
  </div>

  <div class="title">
    <h4>Título da receita</h4>
    <input type="text" name="title" value="{{recipe.title}}" required>
  </div>

  <div id="ingredients">
    <h4>Ingredientes</h4>
    {% if recipe.ingredients %}
      {% for ingredient in recipe.ingredients %}
        <div class="ingredient">
          <input type="text" name="ingredients[]" value="{{ingredient}}" required/>
        </div>
      {% endfor %}
    {% else %}
      <div class="ingredient">
        <input type="text" name="ingredients[]" value="{{ingredient}}" required/>
      </div>
    {% endif %}
  </div>
  <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

  <div id="preparation">
    <h4>Modo de preparo</h4>
    {% if recipe.preparation %}
      {% for item_preparation in recipe.preparation %}
        <div class="preparation">
          <input type="text" name="preparation[]" value="{{item_preparation}}" required/>
        </div>
      {% endfor %}
    {% else %}
      <div class="preparation">
        <input type="text" name="preparation[]" value="{{item_preparation}}" required/>
      </div>
    {% endif %}
  </div>
  <button type="button" class="add-preparation">Adicionar novo passo</button>

  <div class="information">
    <h4>Informações adicionais</h4>
    <textarea id="information" name="information" required>{{recipe.information}}</textarea>
  </div>
</div>