{% extends 'layouts/admin.njk' %}

{% block head %}
  <title>Admin - Receitas</title>
{% endblock %}

{% block content %}
  <div class="top-content-users">
    <h2>Gerenciar Receitas</h2>
    <a href="/admin/recipes/create">Nova Receita</a>
  </div>

  <div class="cards-admin" id="cards-admin-top">
    {% for recipe in recipes %}
      <div class="card-admin">
        <div class="card-admin-img-content">
          <img src="{{recipe.files[0].path}}">
        </div>
        
        <div class="card-admin-content">
          <h4>{{recipe.title}}</h4>
          <p>por {{recipe.chef.name}}</p>
          <a href="/admin/recipes/{{recipe.id}}" class="button-view">Visualizar</a>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="pagination" data-page={{pagination.page}} data-total={{pagination.total}}></div>
{% endblock %}