{% extends 'layouts/admin.njk' %}

{% block head %}
  <title>Admin - Receita</title>
{% endblock %}

{% block content %}
  <div class="top-content">
    <h2>Receita: {{recipe.title}}</h2>
    <a href="/admin/recipes/{{recipe.id}}/edit" class="button-action-a">Editar Receita</a>
  </div>

  <div class="page-content">

    <div class="gallery">
      <div class="highlight">
        <img src="{{recipe.files[0].path}}" alt="Imagem de {{recipe.title}}">
      </div>
      
      <div class="gallery-preview">
        {% for image in recipe.files %}
          <img
            src="{{image.path}}"
            alt="Imagem de {{recipe.title}}"
            {% if loop.index0 == 0 %}
              class="active"
            {% endif %}
            onclick="ImageGallery.setImage(event)"
          >
        {% endfor %}
      </div>
    </div>

    <h1>{{recipe.title}}</h1>
    <h5>por {{recipe.chef.name}}</h5>

    <div class="title-button">
      <h3>Ingredientes</h3>
    </div>

    <div class="content-show-hide">
      {% for ingredient in recipe.ingredients %}
        <li>{{ingredient}};</li>
      {% endfor %}
    </div>

    <div class="title-button">
      <h3>Modo de preparo</h3>
    </div>

    <div class="content-show-hide">
      {% for element in recipe.preparation %}
        <p id="text-left">{{element}}</p>
      {% endfor %}
    </div>

    <div class="title-button">
      <h3>Informações adicionais</h3>
    </div>

    <div class="content-show-hide">
      <p id="text-left">{{recipe.information}}</p>
    </div>
  </div>
{% endblock %}