<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="/assets/icon.png"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    {% block head %}{% endblock %}
  </head>

  <body>
    <header class="header-admin">
      <div class="align-logo">
        <a href="/admin/recipes"><img src="/assets/logo-write.png" alt="Logomarca Foodfy"></a>
        <div class="links">
          <a href="/admin/recipes">Receitas</a>
          <a href="/admin/chefs">Chefs</a>
        </div>
      </div>
    </header>

    <div class="wrapper-admin">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
<script src="/scripts/admin.js"></script>