<!DOCTYPE html>
<html>
  <head>
    {% include "parts/styles.njk" %}
    {% block head %}{% endblock %}
  </head>

  <body>
    {% include "parts/messages.njk" %}

      <div class="content-main-users">
      <div class="wrapper-users">
        <header class="header-users">
          <a href="/index"><img src="/assets/logo-black.png" alt="Logo Foodfy"></a>
          <div class="links">
            <a href="/about">Sobre</a>
            <a href="/recipes">Receitas</a>
            <a href="/chefs">Chefs</a>
            <a href="/admin/users/login">Login</a>
          </div>

          <form action="/results" method="GET">
            <input type="text" name="filter" placeholder="Buscar uma receita...">
            <button type="submit" class="btn">Buscar</button>
          </form>
        </header>
        {% block content %}{% endblock %}
      </div>

      <footer>
        <p>Todos os direitos reservados - Foodfy, 2021</p>
      </footer>
    </div>
  </body>
</html>
<script src="/scripts/users.js"></script>