{% extends "layouts/admin.njk" %}

{% block content %}
  <div class="message-lottie">
    <div class="image-lottie"></div>
    <h2>{{message}}</h2>
    <a href="{{url}}">{{button}}</a>
  </div>
{% endblock %}

{% block lottie %}
  <script src="/animations/lottie.min.js"></script>
  <script>
    const element = document.querySelector(".image-lottie")

    lottie.loadAnimation({
      container: element,
      renderer: "svg",
      loop: false,
      autoplay: true,
      path: "/animations/access.json",
    })
  </script>
{% endblock %}