<link rel="stylesheet" href="/styles/global.css">
<link rel="stylesheet" href="/styles/parts/main.css">
<link rel="stylesheet" href="/styles/parts/admin.css">
<link rel="stylesheet" href="/styles/parts/users.css">
<link rel="stylesheet" href="/styles/parts/gallery.css">
<link rel="stylesheet" href="/styles/parts/session.css">
<link rel="stylesheet" href="/styles/parts/messages.css">
<link rel="stylesheet" href="/styles/parts/animations.css">
<link rel="shortcut icon" href="/assets/icon.png"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">